*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
.main{
    height: 100%;
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}
.card{
    height: 320px;
    width: 250px;
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    border: 2px solid lightgrey;
}
.part1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
img{
    height: 60px;
    width: 60px;
    border-radius: 50px;
    object-fit: cover;
    object-position: center;
    color: grey;
}
.part2 > h2{
    font-size: 20px;
    white-space: nowrap;
}
.part1 > button{
    height: 40px;
    padding: 2px 10px;
    background-color:white;
    color: rgb(4, 4, 4);
    border: rgb(197, 197, 197) 1px solid;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
}
.part2{
    margin-bottom: 20px;
}

.part2 > h1{
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 5px;
}
span{
    font-size: 10px;
    color:grey;
    font-weight: 200;
}
.part3{
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    margin-bottom: 70px;
}
.part3 > button{
    padding: 5px 10px;
    background-color: lightgrey;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    white-space: nowrap;
}
.part4{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.part4 button{
    padding: 5px 10px;
    background-color: black;
    color: white;
    border:none;
    border-radius: 5px;
}

.part4 p{
    color: grey;
    font-size: 15px;
}
.part4 h2{
    font-size: 20px;
}

.icon{
    height: 20px;
    width: 20px;
}

#cursor{
    position: fixed;
    height: 80px;
    width: 80px;
    background-color: transparent;
    transform: translate(-50%,-50%);
}

body{
    cursor:none;
}
:root{
    --x:300px;
    --y:400px
}
.box{
    height: 130%;
    width: 100%;
    background: radial-gradient(150px at var(--x) var(--y),rgba(255, 255, 255, 0),rgba(0, 0, 0, 0.961));
    position: absolute;
    top:0;
    left: 0;
}